<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
      <div class="dropdown-menu dropdown-profile animated fadeInUp">
       <h4>username</h4>
       <br>
       <div class="btn-group my-account-form">
          <button class="btn btn-primary my-account-form-button">View Profile</button>

          <%= menu_button('Log Out', logout_path) %>
       </div>
    </div>
  </li>      