<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to PushBC!</h1>
    <p>
      Please <%= link_to('confirm', confirmation_url(token: @user.confirmation_token)) %> your account.
    </p>
    <p>Thank you for joining the PushBC community!</p>
  </body>
</html>