<div class = "row">
  <div class = "col-lg-1 col-lg-offset-2">
    <%= display_text_field_label(form, label) %>
  </div>
  <div class = "col-lg-2">
    <%= display_text_field_element(form, name, type) %>
  </div>
</div>
</br>
</br>