 <!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="jumbotron">
        <h1>Push(BC)</h1>
        <p>A website designed to help you navigate the labrynth of programming courses.  Be informed.  </p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">See Articles &raquo;</a></p>
      </div>

