<div class="affixed-nav" data-spy="affix" data-offset-top="300" data-offset-bottom="200">
		<ul class="affixed-list">
			<li><a href="#desc-header">Description</a></li>
			<li><a href="#basic-info-header">Info</a></li>
			<li><a href="#reviews-header">Reviews</a></li>
			<li><a href="#top">Top</a></li>
		</ul>
</div>