<h1>Bootcamps</h1>
<br/>
<table class="table table-striped table-bordered info-table">
	<thead>
		<tr>
			<th>Bootcamp</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
	<% @bootcamp.each do |bootcamp| %>	
		<tr>
			<td><%= link_to(bootcamp.name, bootcamp_path(bootcamp)) %></td>
			<td><%=bootcamp.description %></td>
		</tr>
<% end %>

</tbody>
</table>