//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"




  @font-face {
      font-family:'FontAwesome';
      src: url('fontawesome-webfont.eot'),
      url('fontawesome-webfont.eot'),
      url('FontAwesome.otf'),
      url('fontawesome-webfont.svg'),
      url('fontawesome-webfont.ttf'),
      url('fontawesome-webfont.woff'),
      url('glyphicons-halflings-regular.eot'),
      url('glyphicons-halflings-regular.svg'),
      url('glyphicons-halflings-regular.ttf'),
      url('glyphicons-halflings-regular.woff');
      font-weight: normal;
      font-style: normal;


      
}

@import "bootstrap";
@import "font-awesome.min";
@import "theme";
@import "bootstrap-theme.min";
@import "animate.min";
@import "jquery-ui-1.10.4.min";
@import "social-buttons";
