<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <ul class="footer-nav" id="social">
              <li><a href="#"><button class="btn btn-facebook"><i class="fa fa-facebook"></i></button></a></li>
              <li><a href="#"><button class="btn btn-twitter"><i class="fa fa-twitter"></i></button></a></li>
              <li><a href="#"><button class="btn btn-google-plus"><i class="fa fa-google-plus"></i></button></a></li>
            </ul>
          </div>
        </div>
      <hr class="hr-footer">


        
          <div class="footer-nav row">
            <div class="col-sm-2"><%= link_to("About", page_path("about")) %></div>
            <div class="col-sm-2"><a href="#">Contact</a></div>
            <div class="col-sm-2"><a href="#">Articles</a></div>
            <div class="col-sm-2"><a href="#"><%= link_to("Bootcamps", bootcamps_path) %></div>
            <div class="col-sm-2"><%= link_to("Login", login_path) %></div>
            <div class="col-sm-2"><%= link_to("Sign Up", new_user_path) %></div>

          </div>
    
      <hr class="hr-footer">

      <p class="muted footer-brand">2014 Push(BC)</p> 


      </div> <!-- end container footer div -->
    </footer><!--end of footer -->